<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BDD" connectionString="Data Source = SERVER=127.0.0.1; DATABASE=aa; UID=root; PASSWORD="/>
  
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>